<div class="col-md-12">
	<div class="col-md-6">
		<h1>{{parent.name}}</h1>
		<p>{{parent.description}}</p>
		<h3>{{parent.endDate ? 'Deadline: ' + parent.endDate.substring(0, 10):''}}</h3>
		<button class="btn btn-success inline" ng-click="addProgress(parent)">Add Progress</button>
		<div ng-repeat="goal in parent.subgoals" class="container-fluid">
			<h4>{{goal.name}}:</h4>
			<div class="col-md-10">
				<progressbar max="100" value="goal.percent" >
					<span style="color:black; white-space:nowrap;">{{goal.percent}}%</span>
				</progressbar>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<radial-progress percentage="dream.percent" color="progressColor"></radial-progress>
	</div>
	<!-- Goal creation works perfectly, but we have not yet integrated subgoals into the progress calculations
		If you would like to test out subgoal creation, just uncomment the section below-->
	<!--<div class="col-md-12">
		<button class="btn btn-success" ng-click="changeRoute('creategoal')">Add a Goal</button>
	</div>-->
</div>
