<div id="home">
	<div class="col-md-8">
		<h1>Track Your Progress</h1>
		<p>{{dream.description}}</p>
		<h3>{{dream.deadline ? 'Deadline: ' + dream.deadline:''}}</h3>
		<h4 ng-repeat="dream in dreams">{{dream.name}}: <progressbar max="100" value="65" ><span style="color:black; white-space:nowrap;">65%</span></progressbar></h4>
	</div>
	<div class="col-md-4">
		<radial-progress percentage="progress" color="progressColor"></radial-progress>
	</div>
	<div class="col-md-12">
		<h2>Timeline view goes here.</h2>
	</div>
	<div class="col-md-12 pointer" ng-click="changeRoute('create')">+ Add a Dream</div>
</div>