<div id="main">
	<div class="topbar container-fluid">
		<div class="topbar-section col-md-3 pointer" ng-click="view='landing'">DreamCatcher</div>
		<div class="topbar-section col-md-2 pointer" ng-click="view='dreams'">Dreams</div>
		<div class="topbar-section col-md-2 pointer" ng-click="view='goals'">Goals</div>
		<div class="topbar-section col-md-2 pointer" ng-click="view='groups'">Groups</div>
		<div class="topbar-section col-md-3 pointer">
			<button class="btn btn-success" ng-click="changeRoute('home')">Sign Up</button> or <button class="btn btn-primary" ng-click="changeRoute('home')">Log In</button>
		</div>
		<div ng-show="view=='landing'" class="viewport">
			<h3>This is the default landing page</h3>
		</div>
		<div ng-show="view=='dreams'" class="viewport">
			<h3>This is the content for the dreams view</h3>
		</div>
		<div ng-show="view=='goals'" class="viewport">
			<h3>This is the content for the goals view</h3>
		</div>
		<div ng-show="view=='groups'" class="viewport">
			<h3>This is the content for the groups view</h3>
		</div>
		<button class="btn btn-success goal-create-button" ng-click="changeRoute('home')">Create Your First Dream</button>
	</div>
</div>